<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    
    <!--  <authentication mode="Forms">        FALTA AGREGAR EL RESTO DE LOS USUARIOS CONFIRMAR CON PROFE LUCAS
        <forms loginUrl="default.aspx" name=".lstGis">
          <credentials passwordFormat="Clear">
            <user name="equiz" password="1234"/>
            <user name="ye" password="123"/>
          </credentials>
        </forms>
      </authentication>
      
      <authorization>
        <allow users="*"/>
      </authorization>-->
    
    </system.web>
    <connectionStrings>
      <add name="Connection" 
           connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source={'C:\\Users\\Programacion\\Downloads\\Lista Produccion.xlsx'}; Extended Properties='Excel 12.0 Xml;Driver={Microsoft Excel Driver(*.xlsx)}}; DBQ=xlsx HDR=YES'" 
           providerName="System.Data.OleDb"/>
    </connectionStrings>
    <!--<location path="AdministrationForms">
      <system.web>
        <authorization>
          <allow roles="Administracion"/>
          <deny users="*"/>
        </authorization>
      </system.web>
    </location>
  
    <location path="DesignForms">
      <system.web>
        <authorization>
          <allow roles="Ingenieria"/>
          <deny users="*"/>
        </authorization>
      </system.web>
    </location>-->
</configuration>
